* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    height: 100px;
    width: auto;
    border: 1px solid black;
    text-align: center;
    align-items: center;
}

.gallery a img {
    width: 6em;
    height: 100px;
    margin: 16px;
}

.gallery a {
    text-decoration: none;
}

[hidden] {
    display: none;
}

dialog img {
    padding: 0;
    margin: 0;
    width: 100%;
}

dialog {
    position: relative;
}

dialog::backdrop {
    background-color: #337599;
    opacity: 0.5;
}

#lightbox {
    border: thin solid #aaa;
    left: 1em;
    position: fixed;
    top: 1em;
}

#lightbox img {
    display: block;
    margin: auto;
    max-width: 90vw;
    max-height: 80vh;
}

#lightbox figcaption {
    font-style: italic;
    text-align: center;
}

#lightbox button {
    position: absolute;
    top: 0;
    right: 0;
}

#lightbox button:nth-of-type(2) {
    top: 50%;
    left: 1em;
}

#lightbox button:nth-of-type(3) {
    top: 50%;
    right: 1em;
}

ul,
li {
    display: inline-block;
    margin: 0.1em;
    padding: 0.1em;
}

li {
    list-style-type: none;
}

[role=note] {
    border-left: medium solid #c82f04;
    padding-left: 0.5em;
    max-width: 40em;
}

[role=note]:before {
    content: 'Beachten: ';
    color: #c82f04;
    font-weight: bold;
}

